# Base de datos
DB_USERNAME=cafe_user
DB_PASSWORD=root

# JWT
JWT_SECRET=cafe_con_huellas_clave_secreta_super_segura_2024

# Frontend
FRONTEND_URL=http://localhost:4200

# Mail (Mailpit local — no envía emails reales)
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=noreply@cafehuellas.local
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS=false

# Email del administrador
APP_ADMIN_EMAIL=admin@cafehuellas.local